@font-face {
  font-family: "Phosphate";
  src: url("/assets/fonts/Phosphate-Solid.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Phosphate-Inline";
  src: url("/assets/fonts/Phosphate-Inline.ttf");
  font-weight: bold;
}
