<div class="column row">
  <section class="content-block">
    <h2>Welcome Back</h2>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
      <label>
        Email
        <input type="email" formControlName="email" />
      </label>

      <label>
        Password
        <input type="password" autocomplete="new-password" formControlName="password" />
      </label>

      <div class="expanded button-group">
        <button type="submit" class="success button">Submit</button>
      </div>
    </form>
  </section>
</div>
